xsd/alcamo.rdf.xsd

<?xml version="1.0"?>

<xsd:schema
    xmlns="tag:rv1971@web.de,2021:alcamo:ns:rdf#"
    xmlns:dc="http://purl.org/dc/terms/"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="tag:rv1971@web.de,2021:alcamo:ns:rdf#"
    dc:title="Simple types for the alcamo-rdf-literal package"
    dc:creator="RV1971 &lt;rv1971@web.de&gt;"
    dc:created="2026-04-17"
    dc:modified="2026-04-24"
    xml:lang="en">
  <xsd:simpleType
      name="FourBitCharString"
      xml:id="FourBitCharString"
      rdfs:label="String made of four-bit characters">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-?]*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType
      name="DigitString"
      xml:id="DigitString"
      rdfs:label="String made of decimal digits">
    <xsd:restriction base="FourBitCharString">
      <xsd:pattern value="\d*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType
      name="BitString"
      xml:id="BitString"
      rdfs:label="String made of the digits 0 and 1">
    <xsd:restriction base="DigitString">
      <xsd:pattern value="[01]*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType
      name='PositiveGYear'
      xml:id='PositiveGYear'
      rdfs:label="Positive year">
    <xsd:restriction base='xsd:gYear'>
      <xsd:minInclusive value='1'/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
